# dependencies
/node_modules

# IDE
/.idea
/.awcache
/.vscode

# misc
npm-debug.log

# tests
/coverage
/.nyc_output

# dist
lib/*.js
test/*.js
lib/*.d.ts
test/*.d.ts

# config
.env

# locks
yarn.lock
